<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punuo.sys.sdk">

    <application>

        <activity
            android:name=".activity.BaseSwipeBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRScanActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait" />

    </application>
</manifest>
